* { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
p {
    font-size: 18px;
    padding: 10px;
    background: rgba(150, 0, 0, 0.5);
    width: 100%;
    text-align: center;
 }
 body { background: lightcoral; }